@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-image: url(../img/mokume.jpg);
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

p, td {
    color: #666666;
}

/*  header  */
header {
    margin: 0 auto;
}

.header {
	display: flex;
    align-items: center;
}

.logo {
	height: 120px;
}

.logo-text {
    margin-left: 20px;
}

.logo-text p {
    color: #666666;
}

.main-title {
    font-size: 25px;
    font-weight: bold;
    color: #666666;
}

.phone {
	margin-left: auto;
	padding: 15px;
	font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #20B2AA;
    border-radius: 50px;
}

.phone p {
    color: #fff;
}

.phone i {
    margin-right: 5px;
}

.header-list {
    display: flex;
    justify-content: space-around;
    background-color: #C0C0C0;
}

.header-list-item {
	list-style: none;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    padding: 0 15px 0 15px;
}

.header-list-item a {
    color: #FFFFEE;
}

.header-list-item:hover {
    color: #8b4513;
    background-color: #808080;
}

/*  main  */
.main-photo {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.main-photo img {
    width: 70%;
    height: 550px;
    border-radius: 50px;
}

#pick-up, #about, #point, #new-data, #access, #contact {
    margin-bottom: 70px;
}

.title-style {
    margin: 0 auto;
    margin-bottom: 70px;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFEE;
    background-color: #C0C0C0;
    border: 5px solid;
    border-radius: 50px;
}

/*  pickup  */
.pick-up-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.pick-up-img img {
    width: 350px;
    height: 250px;
    border: 5px inset;
}

.pick-up-text {
    display: flex;
    justify-content: space-around;
}

/*  about  */
.about-box {
    width: 70%;
    margin: 0 auto;
}

.about-box-item1, .about-box-item2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.about-box-item1 img {
    width: 400px;
    margin-right: 40px;
    border-radius: 20px;
}

.about-box-item1 p, .about-box-item2 p {
    line-height: 40px;
}

.about-movie iframe {
    margin-left: 40px;
    border: ridge 10px;
}



/*  point  */
.point-box {
    width: 60%;
    margin: 0 auto;
}

.point-box img {
    float: left;
    width: 300px;
    margin: 0 40px 20px 0;
    border-radius: 20px;
}

/*  newdata  */
.new-data-box {
    text-align: center;
}

.new-data-box p {
    margin-bottom: 15px;
    font-size: 18px;
}

/*  access  */
.access-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.access-text {
    margin-right: 80px;
}

.access-text p {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.access-box iframe {
    display: flex;
    align-items: center;
}

/*  contact  */
table, td {
    border: solid 1px black;
}

.contact-form {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 40%;
    height: 300px;
}

.form-text {
    font-size: 20px;
    text-align: center;
}

.button {
    text-align: center;
}

.button-design {
    width: 100px;
    font-size: 20px;
    color: #fff;
    background-color: #20B2AA;
    padding: 5px;
    border-radius: 20px;
}

/*  footer  */
footer {
	margin: 0 auto;
}

.footer-logo {
    float: left;
    height: 100px;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    background-color: #C0C0C0;
}

.footer-list-item {
    list-style: none;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    padding: 0 15px 0 15px;
}

.footer-list-item a {
    color: #FFFFEE;
}

.footer-list-item:hover {
    color: #8b4513;
    background-color: #808080;
}

.footer-text {
    text-align: center;
}